<div class="fre-nav-header">
  <div class="container clearfix">
    <a href="{{ site.baseurl }}/" class="pull-left">
      <div class="logo-wrap">
      </div>
    </a>
    <div class="pull-right">
      <button type="button" class="fre-btn btn btn-primary">Become A Friend</button>
      <a type="button" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=l-c7iVdeRiOFeJx_OWORRuPe9N2ss2bjuc1DMQdZEYyjfk7j7SrgUU4bp10&dispatch=5885d80a13c0db1f8e263663d3faee8de2b8031b89187c030b37e57608011f58" class="fre-btn btn btn-orange">Donate</a>
    </div>
  </div>
</div>
